.git
.github/workflows
.github/ISSUE_TEMPLATE
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.env
.env.testing
.env.*.local
*.md
docker-compose*.yml
phpunit*.xml
.editorconfig
.gitattributes
.gitignore
