{
    "openapi": "3.0.0",
    "info": {
        "title": "CLIENTXCMS New Gen API",
        "description": "This is the API documentation for the CLIENTXCMS New Gen API. ",
        "contact": {
            "name": "CLIENTXCMS Support",
            "url": "https://clientxcms.com/client/support",
            "email": "contact@clientxcms.com"
        },
        "version": "1.0.2"
    },
    "servers": [
        {
            "url": "https://clientxcms.app/api",
            "description": "Endpoint"
        }
    ],
    "paths": {
        "/api": {},
        "/application/invoices": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get a list of invoices",
                "operationId": "6e76f12af031c8869048dd5678d46943",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter invoices",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Related resources to include",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "customer,items"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of invoices",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Invoice"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Create a new invoice",
                "operationId": "c92092be603e68c18fa2277bb95677f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreInvoiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Invoice created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application/invoices/{invoice}": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get a single invoice",
                "operationId": "47eda0645c0afbbcf4d87032c0fbafa1",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single invoice",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Update an existing invoice",
                "operationId": "2cdbbe1e4f4ec89e3b2913f5f320d960",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateInvoiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Invoice updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Delete an existing invoice",
                "operationId": "5d5220133d9c144aa7c46aff1642f551",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Invoice deleted successfully"
                    },
                    "403": {
                        "description": "Invoice cannot be deleted"
                    }
                }
            }
        },
        "/application/invoices/{invoice}/pdf": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get the PDF of a single invoice",
                "operationId": "953d19e5c0e90ef56e707643d4087162",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF of the invoice",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application/invoices/export": {
            "post": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get the Excel of a single invoice",
                "operationId": "71e79d5b5e568f14fb2fba7e13b4ff41",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excel of the invoice",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application/invoices/{invoice}/validate": {
            "post": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Validate an invoice",
                "operationId": "439ef4555269e196f30df8a439e6ceff",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice validated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/application/invoices/{invoice}/edit": {
            "post": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Edit an invoice",
                "operationId": "5fb33a8f85185dc43f2d44f7788e527f",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice edited successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/application/invoices/{invoice}/notify": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Notify about an invoice",
                "operationId": "ca1f43d9bf232d6cd0e8a22c6b1b5fb5",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/application/invoices/{invoice}/download": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Download an invoice as PDF",
                "operationId": "e9611f48f43e09ce83ff800e309d7ab7",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "description": "ID or UUID of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF file download"
                    }
                }
            }
        },
        "/client/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login to client account",
                "operationId": "f797ddaf0227d1fa2ede6a664a861d01",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "requires_2fa": {
                                            "type": "boolean"
                                        },
                                        "customer": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "403": {
                        "description": "Account banned or disabled"
                    }
                }
            }
        },
        "/client/auth/2fa/verify": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify 2FA code after login",
                "operationId": "c71c14bd61542a3705860e46cb5cb4c0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "2FA verification successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid 2FA code"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new client account",
                "operationId": "ef0d3269eab5bb8cf85f345551675bbd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "firstname",
                                    "lastname",
                                    "country"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "firstname": {
                                        "type": "string"
                                    },
                                    "lastname": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "address2": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "FR"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "token": {
                                            "type": "string"
                                        },
                                        "customer": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "403": {
                        "description": "Registration disabled"
                    }
                }
            }
        },
        "/client/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request password reset link",
                "operationId": "4945b23fc11a06392ee9fa5f536f1546",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset link sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/client/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password with token",
                "operationId": "6084eb3c9d64d74b7312881221dc6122",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid token or validation error"
                    }
                }
            }
        },
        "/client/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout and revoke token",
                "operationId": "637d39ccf711f97c64eae7107ed5a3fd",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices": {
            "get": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "List customer's invoices",
                "operationId": "4231925d24dc7cdf7c258e0c55fcb45d",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter by status (pending, paid, cancelled, refunded)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of invoices"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices/{invoice}": {
            "get": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "Get invoice details",
                "operationId": "ab897b62cf38e09782c2194de2062b16",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice details with items"
                    },
                    "404": {
                        "description": "Invoice not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices/{invoice}/pdf": {
            "get": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "Stream invoice PDF",
                "operationId": "dc83495024958aa6f8da239b4e3116df",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF stream"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices/{invoice}/download": {
            "get": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "Download invoice PDF",
                "operationId": "b6b34a4cc013d0d85fc03e90292723b9",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF download"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices/{invoice}/pay/{gateway}": {
            "post": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "Pay an invoice",
                "operationId": "3d0888d202547735b9b70904b78925b7",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gateway",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "redirect_url": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cannot pay invoice"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/invoices/{invoice}/balance": {
            "post": {
                "tags": [
                    "Customer Invoices"
                ],
                "summary": "Add balance to invoice",
                "operationId": "5dde1e9524713dc8d60b012db442e2d4",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "amount"
                                ],
                                "properties": {
                                    "amount": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Balance added"
                    },
                    "400": {
                        "description": "Insufficient balance"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/payment-methods": {
            "get": {
                "tags": [
                    "Customer Payment Methods"
                ],
                "summary": "List customer's payment methods",
                "operationId": "bcd8cd1e9aa49143c843797674f6d2d7",
                "responses": {
                    "200": {
                        "description": "List of payment methods"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/payment-methods/gateways": {
            "get": {
                "tags": [
                    "Customer Payment Methods"
                ],
                "summary": "List available gateways that support payment methods",
                "operationId": "f8560885ee8c56a3553f6d87bc63631c",
                "responses": {
                    "200": {
                        "description": "List of gateways"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/payment-methods/{gateway}": {
            "post": {
                "tags": [
                    "Customer Payment Methods"
                ],
                "summary": "Add a new payment method",
                "operationId": "ee8a2b35bfe6af2dfc67f62227e4faf4",
                "parameters": [
                    {
                        "name": "gateway",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Gateway-specific payment method data",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Payment method added"
                    },
                    "400": {
                        "description": "Gateway does not support payment methods"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/payment-methods/{source}/default": {
            "put": {
                "tags": [
                    "Customer Payment Methods"
                ],
                "summary": "Set default payment method",
                "operationId": "3a180d013d1b636b2d8bbfcd40a7d3c0",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Default payment method set"
                    },
                    "404": {
                        "description": "Payment method not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/payment-methods/{source}": {
            "delete": {
                "tags": [
                    "Customer Payment Methods"
                ],
                "summary": "Delete a payment method",
                "operationId": "2824190ccf67995f5d048723f294f9fd",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment method deleted"
                    },
                    "404": {
                        "description": "Payment method not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile": {
            "get": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Get current user profile",
                "operationId": "144ef72f29bb6cdd9c05a63a71fcf11f",
                "responses": {
                    "200": {
                        "description": "Profile data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "firstname": {
                                                    "type": "string"
                                                },
                                                "lastname": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "string"
                                                },
                                                "city": {
                                                    "type": "string"
                                                },
                                                "country": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "balance": {
                                                    "type": "number"
                                                },
                                                "two_factor_enabled": {
                                                    "type": "boolean"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Update profile information",
                "operationId": "c6cb44a2a1518f1224b0d7faf3ca5243",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "firstname": {
                                        "type": "string"
                                    },
                                    "lastname": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "address2": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "country": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Delete account",
                "operationId": "6c3bd56c2be45a76150bdecf593b43ca",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account deleted"
                    },
                    "400": {
                        "description": "Cannot delete account (active services, etc.)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile/password": {
            "put": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Change password",
                "operationId": "62e5aa91ffc65e56d94f865ad2c25312",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile/2fa": {
            "post": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Enable or disable 2FA",
                "operationId": "b3526b6145cbe3b6fb51295a8c9eb706",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "secret": {
                                        "description": "Required when enabling 2FA",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "2FA toggled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "enabled": {
                                            "type": "boolean"
                                        },
                                        "recovery_codes": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile/2fa/setup": {
            "get": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Get 2FA setup information (secret and QR code)",
                "operationId": "4cb14d003766a554dc9ab94c190378da",
                "responses": {
                    "200": {
                        "description": "2FA setup data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "secret": {
                                            "type": "string"
                                        },
                                        "qr_code": {
                                            "description": "SVG QR code",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile/2fa/recovery-codes": {
            "get": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Get 2FA recovery codes",
                "operationId": "bef337b2e034797a819a712097c9f26e",
                "responses": {
                    "200": {
                        "description": "Recovery codes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "recovery_codes": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/profile/security-question": {
            "post": {
                "tags": [
                    "Customer Profile"
                ],
                "summary": "Save security question",
                "operationId": "5fd910865105fb4d5bcbbe501419c66c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "security_question_id",
                                    "security_answer",
                                    "current_password"
                                ],
                                "properties": {
                                    "security_question_id": {
                                        "type": "integer"
                                    },
                                    "security_answer": {
                                        "type": "string"
                                    },
                                    "current_password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Security question saved"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/services": {
            "get": {
                "tags": [
                    "Customer Services"
                ],
                "summary": "List customer's services",
                "operationId": "f8b5f0fd48ea331de517efc782c9ef79",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (active, suspended, cancelled, expired, pending)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of services"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/services/{service}": {
            "get": {
                "tags": [
                    "Customer Services"
                ],
                "summary": "Get service details",
                "operationId": "5e8aa2770480e0519e462a128e032c57",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service details"
                    },
                    "404": {
                        "description": "Service not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets": {
            "get": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "List customer's tickets",
                "operationId": "21fcfbd38902320a849c55eebdd26280",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter by status (open, answered, customer_reply, closed)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Create a new ticket",
                "operationId": "26bae17b90a50b3d61ed59537b8a7380",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "department_id",
                                    "subject",
                                    "content",
                                    "priority"
                                ],
                                "properties": {
                                    "department_id": {
                                        "type": "integer"
                                    },
                                    "subject": {
                                        "type": "string"
                                    },
                                    "content": {
                                        "type": "string"
                                    },
                                    "priority": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ]
                                    },
                                    "related_id": {
                                        "type": "integer"
                                    },
                                    "related_type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ticket created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/departments": {
            "get": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "List available departments",
                "operationId": "0737beb7f8544c72fc4e6a0988d526fd",
                "responses": {
                    "200": {
                        "description": "List of departments"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/{ticket}": {
            "get": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Get ticket details",
                "operationId": "698f05a5abc44f6749fde04b71932d11",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket details with messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ticket not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/{ticket}/reply": {
            "post": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Reply to a ticket",
                "operationId": "a15d7e8ddcca5c0e2ab8373fd173cbbb",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reply added"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/{ticket}/close": {
            "post": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Close a ticket",
                "operationId": "75fe37072c30817fee9a9930559f24a1",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket closed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/{ticket}/reopen": {
            "post": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Reopen a closed ticket",
                "operationId": "b1134313a096e1977d9d2e337270f0e2",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket reopened"
                    },
                    "400": {
                        "description": "Cannot reopen (too old)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/client/tickets/{ticket}/attachments/{attachment}": {
            "get": {
                "tags": [
                    "Customer Tickets"
                ],
                "summary": "Download an attachment",
                "operationId": "79f161c770ad0c281c228497ff0e0744",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "attachment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File download"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/application/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "List customers",
                "operationId": "getCustomers",
                "parameters": [
                    {
                        "name": "filter[email]",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[firstname]",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[lastname]",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort fields, e.g. sort=id or sort=-id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include relations (invoices, metadata, services)",
                        "schema": {
                            "type": "string",
                            "example": "invoices,metadata"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of customers"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Create customer",
                "operationId": "storeCustomer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created"
                    }
                }
            }
        },
        "/application/customers/{id}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get customer",
                "operationId": "getCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer found"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Update customer",
                "operationId": "updateCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer updated"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customers"
                ],
                "summary": "Delete customer",
                "operationId": "deleteCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "description": "Force deletion even with active services",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer deleted"
                    },
                    "400": {
                        "description": "Customer cannot be deleted"
                    }
                }
            }
        },
        "/application/customers/{id}/confirm": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Confirm email of a customer",
                "operationId": "confirmCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email verified"
                    },
                    "400": {
                        "description": "Already verified"
                    }
                }
            }
        },
        "/application/customers/{id}/send_password": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Send password reset link",
                "operationId": "forgotPasswordCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Link sent"
                    },
                    "400": {
                        "description": "Already verified"
                    }
                }
            }
        },
        "/application/customers/{id}/resend_confirmation": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Resend email confirmation",
                "operationId": "resendConfirmationCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verification link sent"
                    },
                    "400": {
                        "description": "Already verified"
                    }
                }
            }
        },
        "/application/customers/{id}/action/{action}": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Perform action on customer (suspend, reactivate, ban, disable2FA)",
                "operationId": "customerAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "description": "Action name",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "suspend",
                                "reactivate",
                                "ban",
                                "disable2FA"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Violation of terms"
                                    },
                                    "notify": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "force": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Action performed"
                    }
                }
            }
        },
        "/application/departments": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get a list of support departments",
                "operationId": "ba7029296ac0236ec5cc62fd9d82e647",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter departments",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Related resources to include",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "tickets"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of support departments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SupportDepartment"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Departments"
                ],
                "summary": "Create a new support department",
                "operationId": "b8f766300f92165ee857dcb2bca60925",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "icon"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Technical Support"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles all technical issues"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "example": "bi bi-question-circle"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Department created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupportDepartment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application/departments/{department}": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get a single support department",
                "operationId": "0f89d1b194fff44b6a16ebe24d9edd1d",
                "parameters": [
                    {
                        "name": "department",
                        "in": "path",
                        "description": "ID of the department",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single support department",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupportDepartment"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Departments"
                ],
                "summary": "Update an existing support department",
                "operationId": "97b08b776cdc1fa3a810459ff9ef3494",
                "parameters": [
                    {
                        "name": "department",
                        "in": "path",
                        "description": "ID of the department",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "icon"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Technical Support"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles all technical issues"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "example": "bi bi-question-circle"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Department updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupportDepartment"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Departments"
                ],
                "summary": "Delete an existing support department",
                "operationId": "1b8717ea5218bac4b1c4fffd72f148aa",
                "parameters": [
                    {
                        "name": "department",
                        "in": "path",
                        "description": "ID of the department",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Department deleted successfully"
                    },
                    "403": {
                        "description": "Department cannot be deleted (has tickets)"
                    }
                }
            }
        },
        "/application/tickets": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a list of support tickets",
                "operationId": "ca3fb08fe4f01691e984b38d73f94471",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "Filter by status (open, closed, answered)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[priority]",
                        "in": "query",
                        "description": "Filter by priority (low, medium, high)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[department_id]",
                        "in": "query",
                        "description": "Filter by department ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[customer_id]",
                        "in": "query",
                        "description": "Filter by customer ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Related resources to include",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "customer,department,messages"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of support tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SupportTicket"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Create a new support ticket",
                "operationId": "d5c58d680d404bcff28a8b98876b1171",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "department_id",
                                    "customer_id",
                                    "subject",
                                    "priority",
                                    "content"
                                ],
                                "properties": {
                                    "department_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "customer_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "subject": {
                                        "type": "string",
                                        "example": "Issue with my service"
                                    },
                                    "priority": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ],
                                        "example": "medium"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "I'm having issues with my service..."
                                    },
                                    "related_type": {
                                        "type": "string",
                                        "enum": [
                                            "service",
                                            "invoice"
                                        ],
                                        "nullable": true
                                    },
                                    "related_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ticket created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupportTicket"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application/tickets/{ticket}": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a single support ticket",
                "operationId": "777f58f2548c6706fcb3a550bf80cfc2",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "description": "ID or UUID of the ticket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single support ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupportTicket"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Update an existing support ticket",
[...]
